a {
    color: rgba(1,1,1,1);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: rgb(0, 0, 255, 1);
}


@keyframes grow_animation{
    0% { transform: scale(1); }
    50% { transform: scale(1.3); }
    100% { transform: scale(1); }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



img{
    height:80px;
    width: 80px; 
    animation: rotate 2s linear ;
}
button{
    border-radius: 5px;
    animation: none; 
    color: white;
    height: 50px;
    width: 75px;
    background-color: rgb(127.5, 0, 255, 1);
}

button:active
{
    animation: grow_animation 0.5s ease-in-out;
    background-color: rgb(127.5, 0, 255, .5);

}





