#name{
    color: black;
    background-color: white;
    border: 5px, solid, black;
    border-width: 5px;
    border-radius: 7px; 
    height: 20px; 
    width: 100px;
    margin: 15px; 
}

#name:hover{
    border: 10px, solid, blue; 
}



#email{
    color: black;
    background-color: white;
    border: 5px, solid, black;
    border-width: 5px;
    border-radius: 7px;
    height: 20px; 
    width: 100px; 
    margin: 15px; 
}

#email:hover{
    border: 10px, solid, blue; 
}


#password{
    color: black;
    background-color: white;
    border: 5px, solid, black;
    border-width: 5px;
    border-radius: 7px;
    height: 20px; 
    width: 100px;
    margin: 15px;  
}

#password:hover{
    border: 10px, solid, blue; 
}




.button{ 
    color: black;
    background-color: white;
    border-width: 5px; 
    border-color: black;
    border-radius: 10px;
    margin: 20px; 
}
.button:hover{ 
    box-shadow: 0 4px 8px black;
    transform:scale(1.1);
    background-color:gray; 
}

nav{
    background-color: lightsteelblue;
    border-radius: 10px;
    border-width: 5px;
    border-color: navy;
    box-shadow: inset;
    height: 250px;
    width: 100px; 

}
nav ul{
    margin:25px;
    list-style-type: circle;
    display: inline-block;
}
nav ul li a{
    color: black;
    padding: 10px;
}

nav ul li a:hover {
    color: gray;
    text-decoration: underline;
}


table{
    border-collapse: collapse;
    width: 100%; 
    color: black; 
    border: 2px, black;
}

th, td{
    border: 20p solid #ddd;
    padding: 0px ;
    text-align: left;
    padding: 15px; 
}

th{
    background-color:red;
    opacity: 50%;
    color: black; 
}

tr:nth-child(even){
    opacity: 30%;
}

tr:nth-child:hover(even){
    background-color: white
}

